

<% if current_user %>
 <%= render "users" %>
<% else%>
<div class="container">
<div class="ontop">
<div class=" jumbotron">
<h1 class="alpha" style="font-family: 'Shantell Sans', cursive;">Holla!</h1>
 <strong><%= pluralize(@online_users, "User") %> Online.</strong> 
<small class="smalll">Create an account?</small>
<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg btnn" %>

<small class="smalll">Already have an account?</small>
<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg b" %>
</div>
</div>
</div>
<% end %>