 .room-header {
   background: #212529;
   font-size: 27px;
   color: white;
   display: flex;
   position: absolute;
   top: 0;
   width: 100vw;
   z-index: 1000;
   justify-content: space-between;
   padding: 20px;
 }
@media (min-width: 901px) {
  .image-upload > input {
    display: none;
  }

  .image-upload {
    color: white;
  }

  .upload-button {
    padding: 10px;
    font-size: 25px;
  }

  .upload-button:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  /**
      * Adds a horizontal scroll bar that hides extra attachments
      */
  #attachment-previews {
    position: absolute;
    display: inline;
    bottom: 50px;
    height: 70px;
    width: 290px;
    overflow-y: hidden;
    overflow-x: auto;
    direction: rtl;
    white-space: nowrap;
  }

  .attachment-preview {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    max-height: 50px;
    background-size: contain;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }

  .cancel-upload-button {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 15px;
    padding: 3px;
    color: rgb(224, 0, 0);
    opacity: 0.75;
  }

  .cancel-upload-button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .attachment-image-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100%;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }

  .preview-image {
    display: block;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .last-message,
  .last-message-time {
    font-size: 20px;
    color: #aaa;
    margin-top: 5px;
  }

  .message-image-container {

    margin: 0;
    padding: 0;
  }

  .message-image {
    padding: 0 10px 20px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .msg-content {
    background: rgb(44, 44, 44) !important;
    border-radius: 10px;
    color: white !important;  
    outline: none !important;
    border: none;
  }

  .message-video {
    padding: 0 10px 20px;
    height: 200px;
    margin: 0;
    padding: 0;
  }

  .message-audio {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .message-file {
    color: white;
    text-decoration: underline white;
  }

  .msg-role-user {
    color: #00ff8c !important;
    font-size: 20px;
  }

  .msg-role-admin {
    color: #00e5ff !important;
  }

  /** Animate in an message error absolute pos */
  .message-error {
    position: absolute;
    top: 56;
    right: 0;
    width: 100%;
    height: 3em;
    background-color: #f8d7da;
    z-index: 5;

    animation: fade 3s forwards;
    -webkit-animation: fade 3s forwards;
    -moz-animation: fade 3s forwards;
    -o-animation: fade 3s forwards;
    -ms-animation: fade 3s forwards;
  }

  .message-error-text {
    color: #842029;
    text-align: center;
    padding-top: 0.5em;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .microphone-icon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .microphone-icon:hover {
    opacity: 0.75;
  }

  .room-name-notification-block {
    display: flex;
    gap: calc(100%);

  }

  .not {
    background-color: red;
    padding: 5px;
    border-radius: 100vw;
  }

}

@media (max-width:900px) {
  .image-upload > input {
    display: none;
  }

  .image-upload {
    color: white;
  }

  .msg-content {
    background: gray !important;
    border-radius: 10px !important;
    color: white;
    border: none !important;
    color: white !important;
  }

  .upload-button {
    padding: 10px;
    font-size: 25px;
  }

  .upload-button:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  /**
    * Adds a horizontal scroll bar that hides extra attachments
    */
  #attachment-previews {
    position: absolute;
    display: inline;
    bottom: 50px;
    height: 70px;
    width: 290px;
    overflow-y: hidden;
    overflow-x: auto;
    direction: rtl;
    white-space: nowrap;
  }

  .attachment-preview {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    max-height: 50px;
    background-size: contain;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }

  .cancel-upload-button {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 15px;
    padding: 3px;
    color: rgb(224, 0, 0);
    opacity: 0.75;
  }

  .cancel-upload-button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .attachment-image-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100%;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }

  .preview-image {
    display: block;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .last-message,
  .last-message-time {
    font-size: 17px;
    color: #aaa;
    margin-top: 5px;
  }

  .message-image-container {

    margin: 0;
    padding: 0;
  }

  .message-image {
    padding: 0 10px 20px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .message-video {
    padding: 0 10px 20px;
    height: 200px;
    margin: 0;
    padding: 0;
  }

  .message-audio {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .message-file {
    color: white;
    text-decoration: underline white;
  }

  .msg-role-user {
    color: #00ff8c !important;
  }

  .msg-role-admin {
    color: #00e5ff !important;
  }

  /** Animate in an message error absolute pos */
  .message-error {
    position: absolute;
    top: 56;
    right: 0;
    width: 100%;
    height: 3em;
    background-color: #f8d7da;
    z-index: 5;

    animation: fade 3s forwards;
    -webkit-animation: fade 3s forwards;
    -moz-animation: fade 3s forwards;
    -o-animation: fade 3s forwards;
    -ms-animation: fade 3s forwards;
  }

  .message-error-text {
    color: #842029;
    text-align: center;
    padding-top: 0.5em;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .microphone-icon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .microphone-icon:hover {
    opacity: 0.75;
  }

  .room-name-notification-block {
    display: flex;
    gap: calc(100%);

  }

  .not {
    background-color: red;
    padding: 5px;
    border-radius: 100vw;
  }

  
}
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}